<%= form_with(model: @tweet, url: "/tweets", method: :post) do |f| %>
  <div class="field">
    <label class="label">Body</label>
    <div class="control">  
      <%= f.text_field :body, class: "input" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Post Tweet", class: "button is-link" %>
    </div>
  </div>
<% end %>