<h1>About this site</h1>

<h2>
  The current time is <%= @current_time %>
</h2>

<p>
  This is a clone of the popular social media site Twitter. This is not a fully functional app, but just one to demonstrate the power of Rails
</p>